.contact {
    padding-top: 50px;
    &-box {
        text-align: center;
    }
    &-subheading {
        margin: 0 auto;
        width: max-content;
        color: #ffb800;
        position: relative;
        font-size: 20px;
        line-height: 1;
        margin-bottom: 20px;
        &::before {
            content: "";
            position: absolute;
            left: -45px;
            bottom: 0;
            transform: translateY(-100%);
            width: 40px;
            height: 2px;
            background-color: #ffb800;
        }
    }
    &-heading {
        text-align: center;
        background: -webkit-linear-gradient(90deg, rgb(0, 183, 255) 30%, rgb(255, 255, 199) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 30px;
        padding-bottom: 20px;
        font-size: 30px;
    }
}
